# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
zz.forlater
idm/keycloak-themes/themes/mainapptheme/common/resources/node_modules/
server/node_modules/
